-- Migration: Add data_pagamento to pedidos and enforce RLS
ALTER TABLE public.pedidos ADD COLUMN IF NOT EXISTS data_pagamento TIMESTAMPTZ;
ALTER TABLE public.pedidos ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS \
Users
can
view
their
own
orders\ ON public.pedidos;
CREATE POLICY \Users
can
view
their
own
orders\ ON public.pedidos FOR SELECT USING (auth.uid() = user_id);

DROP POLICY IF EXISTS \Users
can
insert
their
own
orders\ ON public.pedidos;
CREATE POLICY \Users
can
insert
their
own
orders\ ON public.pedidos FOR INSERT WITH CHECK (auth.uid() = user_id);

DROP POLICY IF EXISTS \Users
can
update
their
own
orders\ ON public.pedidos;
CREATE POLICY \Users
can
update
their
own
orders\ ON public.pedidos FOR UPDATE USING (auth.uid() = user_id);

DROP POLICY IF EXISTS \Users
can
delete
their
own
orders\ ON public.pedidos;
CREATE POLICY \Users
can
delete
their
own
orders\ ON public.pedidos FOR DELETE USING (auth.uid() = user_id);

